@import url(color.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 80% 5%;
  color: var(--font);
  background-color: var(--main);
  font-family: 'Comfortaa', cursive;
}

header{
  display: flex;
  width: 100%;
  background-color: var(--header) ;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
}

.filmsAndCharac{
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
}

header ul{
  width: 100%;
  height: 100%;
  display: flex;
}

.content{
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 1.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carac{
  border-left: 2px solid black;
}

header a:link, a:visited{
  text-decoration: none;
  color: var(--font);
}

header a:hover{
  font-weight: bold;
}

.imglogo{
  align-self: center;
}

header img{
  height: 10vh;
  width: auto;
}

main{
  width: 100%;
  height: 100%;
  background-color: var(--main);
  grid-column: 100%;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
}

.nameFilms{
  grid-column: 1/2;
  grid-row: 100%;
  background-color: white;
  height: 40%;
  width: 50%;
  align-self: center;
  justify-self: end;
  border-radius: 10px 0px 0px 10px;
}

.imgmain{
  height: 100%;
  width: 100%;
  grid-column: 2/5;
  display: flex;
  justify-content: start;
  align-items: center;
}

.imagemChihiro{
  height: 80%;
  width: 100%;
}

footer{
  background-color: var(--footer);
  grid-column: 100%;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
